<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("techmart.top.jpg", class:"techma-icon"), "/" %>
    <div class='social'>
      <a class='follow'>Follow us</a>
      <%=link_to image_tag("tw.jpg", class:"tw"), "https://twitter.com/?lang=ja" %>
      <%=link_to image_tag("fb.jpg", class:"fb"), "https://www.facebook.com/" %>
      <%=link_to image_tag("ig.jpg", class:"ig"), "https://www.instagram.com/?hl=ja" %>
      <%=link_to image_tag("ln.jpg", class:"ln"), "https://line.me/ja/" %>
    </div>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to '店舗', "#", class: "store-list" %></li>
      <li><%= link_to 'おすすめ', "#", class: "recommend-list" %></li>
      <li><%= link_to 'オンラインストア', "#", class: "online-list" %></li>
      <li><%= link_to '企業情報', "#", class: "company-list" %></li>
      <li><%= link_to '採用情報', "#", class: "job-list" %></li>
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, "#", class: "user-nickname"%> </li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"%> </li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>