<%= render "shared/header" %>
<div class='item-contents'>
  <h2 class='title'>本日の見切り品</h2>
  <ul class='item-lists'>
    <% if @tmarts.length != 0 %>
      <% @tmarts.each do |tmart| %>
        <li class='list'>
          <%= link_to tmart_path(tmart) do %>
          <div class='item-img-content'>
            <%= image_tag tmart.image, class: "item-img" %>
          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= tmart.product_name %>
            </h3>
            <div class='item-price'>
              <span><%= tmart.after_price %>円<br></span>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    <% else %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            商品を出品してね！
          </h3>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
          </div>
        </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<%= link_to(new_tmart_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>出品する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %>