<%= render "shared/header" %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @tmart.product_name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @tmart.image, class:"item-box-img" %>
    </div>
    <div class="item-price-box">
      <span class="item-price-before">
        販売価格<%= @tmart.before_price %>円
      </span>
      <span class="item-price">
      ↓
      </span>
      <span class="item-price-after">
        値引価格<%= @tmart.after_price %>円
      </span>
    </div>

    <%# ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>
    <% if user_signed_in? %>
      <% if current_user.id == @tmart.user_id %>
        <%= link_to '商品の編集', edit_tmart_path(@tmart.id), method: :get, class: "item-red-btn" %>
        <p class='or-text'>or</p>
        <%= link_to '削除', tmart_path(@tmart.id), method: :delete, class:'item-destroy' %>
      <% else %>
    <%# 商品が売れていない場合はこちらを表示しましょう %>
        <%= link_to '購入画面に進む', tmart_orders_path(@tmart.id), class:"item-red-btn"%>
    <%# //商品が売れていない場合はこちらを表示しましょう %>
      <% end %>
    <% end %>
    <%# //ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @tmart.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">消費期限</th>
          <td class="detail-value"><%= @tmart.deadline %>/<%= @tmart.hour.name %>時<%= @tmart.hour.name %>分</td>
        </tr>
        <tr>
          <th class="detail-item">取扱店舗</th>
          <td class="detail-value"><%= @tmart.store.name %></td>
        </tr>
        <tr>
          <th class="detail-item">値下げ理由</th>
          <td class="detail-value"><%= @tmart.disposal.name %></td>
        </tr>
        <tr>
          <th class="detail-item">個数</th>
          <td class="detail-value"><%= @tmart.count %></td>
        </tr>
        <tr>
          <th class="detail-item">備考</th>
          <td class="detail-value"><%= @tmart.text %></td>
        </tr>
      </tbody>
      <div class="item-explain-box">
        <span><%= @tmart.text %></span>
      </div>
    </table>
  </div>
</div>
<%= render "shared/footer" %>